<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SheetsWebhookUrl" value="https://script.google.com/macros/s/AKfycbxlZPvr5vfXA1RtvFMgv0f_H6R3st1ExrwoYYaSMPuCzRah4hsQ29pSTSYH7NFh5VXl/exec" />
    <add key="SheetsToken" value="Mark01" />
  </appSettings>
</configuration>
