<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SheetsWebhookUrl" value="https://script.google.com/macros/s/AKfycbzalX8b5XE8kDU_12RhsgyeshCpr4-SDY_54cX4gdfPIA-_f5cH7obtmKQMQl14Vu3nAQ/exec" />
    <add key="SheetsToken" value="Mark01" />
  </appSettings>
</configuration>
