<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SheetsWebhookUrl" value="https://script.google.com/macros/s/AKfycbw3pAhacVD_pp0McQuAOMe8FhPO7wEmNiUePhSxW7jJNwnKAcSDXgyA-9uvuY52z_sv/exec" />
    <add key="SheetsToken" value="Mark01" />
  </appSettings>
</configuration>
